.line-div{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-self:flex-start;
}
.lyric{
    display: flex;
    justify-content: flex-start;
}
#background{
    background-color: #FF0080;
    color: whitesmoke;
    padding: 5px;
}