.comment-div{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: auto;
    align-content: center;
    margin-top: 10px;
    
}
.comment-span{
    margin: 10px;
}
.content-button{
    width: 80px;
    height: 35px;
}