.comment-div{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: auto;
    align-content: center;
    margin-top: 10px;
    width: 90%;
    
}
.comment-span{
    margin: 10px;
}
.content-button{
    width: 60px;
    height: 30px;
    font-size: 10px;
}