.comment-div{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: auto;
    align-content: center;
    margin-top: 10px;
    margin-left: 2em;
    margin-bottom: 2em;
    width: 35em;
    border: 1px solid;
    border-color: grey;
    padding: 1em;
    border-radius: 5px;
}
.comment-span{
    margin: 10px;
    width: 30em
}
.content-button{
    border: none;
    border-radius:0.12em;
    background-color: #FF0080;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    margin-top: .5em;
    margin-right: 3em;
    width: 4em;
    height: 2em;
    transition: all 0.2s;
    cursor:pointer;
}
.comment-button{
    border: none;
    border-radius:0.12em;
    background-color: #FF0080;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 1em;
    margin-left: 46.85%;
    margin-bottom: 2em;
    width: 6em;
    height: 2em;
    transition: all 0.2s;
    cursor:pointer;
}

textarea{
    border-radius: 5px;
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
