.Annotation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    box-sizing: border-box;
    border: 5px, solid, #FF0080;
    padding: auto;
}
.annotation-text{
    margin-top: 1em;
    background-color:lightgray;
    padding: 5px;
    margin-bottom: 5px;
    
}
.button-box{
    display: flex;
    justify-content: space-between;
}
.login-idiot-user{
    font-size: 13px;
    background-color: #FF0080;
    color: whitesmoke;
    align-self: baseline;
    border-radius: 5px;
    padding: .5em;
}
#knowledge{
    margin-right: 1em;
    margin-bottom: 3em;
}
.annotation-button{
    border: none;
    border-radius:0.12em;
    background-color: #FF0080;
    color: whitesmoke;;
    border-radius: 5px;
    font-size: 12px;
    margin: 1em;
    width: 6em;
    height: 3em;
    transition: all 0.2s;
    cursor:pointer;
    margin-top: .1em;
}
.save-button{
    border: none;
    border-radius:0.12em;
    background-color: #FF0080;
    color: whitesmoke;;
    border-radius: 5px;
    font-size: 16px;
    margin: .2em;
    width: 5em;
    height: 2em;
    transition: all 0.2s;
    cursor:pointer;

}