.Annotation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    box-sizing: border-box;
    border: 5px, solid, #FF0080;
    padding: auto;
}
.annotation-text{
    background-color:lightgray;
    padding: 5px;
    margin-bottom: 5px;
    
}
.button-box{
    display: flex;
    justify-content: space-between;
}
.login-idiot-user{
    font-size: 13px;
    background-color: #FF0080;
    color: whitesmoke;
    align-self: baseline;
    border-radius: 5px;
    padding: .5em;
}