/* TODO Add site wide styles */
.link-icon{
    height: 40px;
    cursor: pointer;  
    transition: all 0.2s;
}
.github-icon{
    height: 40px;
    cursor: pointer;  
    transition: all 0.2s;
    margin-bottom:2em;
}
.linkedin-icon{
    height: 40px;
    cursor: pointer;  
    transition: all 0.2s;
    margin-bottom:2em;
    margin-right: 3em;
}
.angel-icon{
    height: 40px;
    cursor: pointer;  
    transition: all 0.2s;
    margin-bottom:2em;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}